/* page styles*/
/** main*/
$c_black_light : #555;
$c_black_medium : #444;
$c_black_dark : #333;

$c_eee: #eee;

$duaring: 2s;

html,body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body { 
	color: #{$c_black_medium}; 
	line-height:1.7; 
	font-family:Verdana, Arial, Sans-Serif;
}
a { 
	text-decoration:none; 
	color: #{$c_black_medium}; 
	
	&:visited {
		text-decoration:none;
	}
	
	&:hover, &:active, &:focus {
		color: #{$c_black_dark}; 
		text-decoration: none;
	}
}

.container {
	width:100%;
	height: 100%;
	overflow:hidden;
	
	.content {
		margin: 10% auto;
		width: 80%;
		height: 80%;
		border:1px solid #eee;
		transform: translateY(-10%);
	}
}